
\.vs/NYP_Framework/v14/\.suo

Base/Base\.vcxproj

Base/Debug/Application\.obj

Base/Debug/Base\.log

Base/Debug/Base\.tlog/Base\.lastbuildstate

Base/Debug/Base\.tlog/CL\.command\.1\.tlog

Base/Debug/Base\.tlog/CL\.read\.1\.tlog

Base/Debug/Base\.tlog/CL\.write\.1\.tlog

Base/Debug/Base\.tlog/link\.command\.1\.tlog

Base/Debug/Base\.tlog/link\.read\.1\.tlog

Base/Debug/Base\.tlog/link\.write\.1\.tlog

Base/Debug/EntityManager\.obj

Base/Debug/FPSCamera\.obj

Base/Debug/GenericEntity\.obj

Base/Debug/GroundEntity\.obj

Base/Debug/Laser\.obj

Base/Debug/LaserBlaster\.obj

Base/Debug/Light\.obj

Base/Debug/main\.obj

Base/Debug/OBJMesh\.obj

Base/Debug/Pistol\.obj

Base/Debug/PlayerInfo\.obj

Base/Debug/Projectile\.obj

Base/Debug/SceneText\.obj

Base/Debug/SkyBoxEntity\.obj

Base/Debug/SpriteEntity\.obj

Base/Debug/TextEntity\.obj

Base/Debug/vc140\.idb

Base/Debug/vc140\.pdb

Base/Debug/WeaponInfo\.obj

Common/Debug/CameraBase\.obj

Common/Debug/Collider\.obj

Common/Debug/Common\.idb

Common/Debug/Common\.log

Common/Debug/Common\.pdb

Common/Debug/Common\.tlog/CL\.command\.1\.tlog

Common/Debug/Common\.tlog/CL\.read\.1\.tlog

Common/Debug/Common\.tlog/CL\.write\.1\.tlog

Common/Debug/Common\.tlog/Common\.lastbuildstate

Common/Debug/Common\.tlog/Lib-link\.read\.1\.tlog

Common/Debug/Common\.tlog/Lib-link\.write\.1\.tlog

Common/Debug/Common\.tlog/lib\.command\.1\.tlog

Common/Debug/EntityBase\.obj

Common/Debug/GraphicsManager\.obj

Common/Debug/KeyboardController\.obj

Common/Debug/LightBase\.obj

Common/Debug/LoadOBJ\.obj

Common/Debug/LoadTGA\.obj

Common/Debug/MathUtility\.obj

Common/Debug/MatrixStack\.obj

Common/Debug/Mesh\.obj

Common/Debug/MeshBuilder\.obj

Common/Debug/MouseController\.obj

Common/Debug/Mtx44\.obj

Common/Debug/RenderHelper\.obj

Common/Debug/SceneManager\.obj

Common/Debug/ShaderProgram\.obj

Common/Debug/timer\.obj

Common/Debug/Utility\.obj

Common/Debug/Vector2\.obj

Common/Debug/Vector3\.obj

Common/Debug/Win32Input\.obj

Debug/Base\.exe

Debug/Base\.pdb

Debug/Common\.lib

Debug/Common\.pdb

NYP_Framework\.VC\.db

NYP_Framework\.VC\.VC\.opendb
